# Entorno virtual de Python
venv/
.env

# Archivos de compilación de Quarto
_book/
.quarto/
**/*.quarto_ipynb
# Jupyter y checkpoints
.ipynb_checkpoints*/

# Caché de Python
__pycache__/
*.py[cod]

# Restos de renders sueltos (fuera del libro) 
/index.html /index_files/